<section class="hero is-medium is-link">
	<div class="hero-body">
		<h1 class="title">
			Hollow Chat.
		</h1>
		<p class="subtitle">
			to talk with your friends, login first.
		</p>

			<form method="post" action="/login">
			  <div class="form-input">
			  <label for="email">Email</label>
			 <input required  type="text" name="email">
			 </div>
			 <div class="form-input">
			   <label for="password">Password</label>
			 <input required type="password" name="password">
			 <div>
			   <div>
			     <button type="submit" class="button is-light" style="margin-top:10px;">Login</button>
			   </div>
			</form>
        			<a href="/signup">Signup</a>

	</div>

</section>
<style>
 .form-input{
   border-style:none;
   width:150px;
   border-radius:10px;
 }
   </style>
</style>
</style>

